@page
@model HelloWorld
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloWorld</title>
</head>
<body>
      <p>Hello world!</p>
    <p>the server time is @DateTime.Now.ToString()</p>
     <p>@Model.Msg</p>
    <p>@Model.DateTimeNow</p>
</body>
</html>
